body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    text-align: center;
    margin-top: 100px;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

button {
    background: crimson;
    color: white;
    cursor: pointer;
}

button:hover {
    background: darkred;
}